src/main/resources/schemas/CORE.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="coreForm">
        <xs:all>
            <xs:element ref="filingDetails"/>
            <xs:element name="corporateBody" type="corporateBodyType"/>
            <xs:element ref="attachments" minOccurs="0"/>
            <xs:element ref="general" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="version" type="xs:double" use="optional"/>
        <xs:attribute name="id" type="xs:long" use="optional"/>
    </xs:complexType>

    <xs:element name="filingDetails">
        <xs:complexType>
            <xs:all>
                <xs:element ref="method"/>
                <xs:element ref="feeStatus" minOccurs="0"/>
                <xs:element ref="receiptDate"/>
                <xs:element ref="presenterDocumentReference" minOccurs="0"/>
                <xs:element ref="submissionReference"/>
                <xs:element ref="packageIdentifier"/>
                <xs:element ref="packageCount"/>
                <xs:element ref="barcode"/>
                <xs:element name="signDate" type="xs:date"/>
                <xs:element ref="authoriser" minOccurs="0"/>
                <xs:element ref="contactDetails" minOccurs="0"/>
                <xs:element ref="presenterDetails" minOccurs="0"/>
                <xs:element ref="payment" minOccurs="0"/>
                <xs:element ref="welshDocument" minOccurs="0"/>
                <xs:element ref="commsLanguage" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation>elements inside filingDetails</xs:documentation>
    </xs:annotation>
    <xs:element name="method">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="enablement"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="authoriser" type="xs:string"/>
    <xs:element name="feeStatus">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="paid"/>
                <xs:enumeration value="prepaid"/>
                <xs:enumeration value="unpaid"/>
                <xs:enumeration value="none"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="receiptDate" type="xs:date"/>
    <xs:element name="presenterDocumentReference" type="xs:string"/>
    <xs:element name="submissionReference" type="xs:string"/>
    <xs:element name="packageIdentifier" type="xs:string"/>
    <xs:element name="packageCount" type="xs:long"/>
    <xs:element name="barcode" type="xs:string"/>
    <xs:element name="welshDocument" type="xs:boolean"/>
    <xs:element name="commsLanguage">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="en"/>
                <xs:enumeration value="cy"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="paymentMethod">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="ACCOUNT"/>
                <xs:enumeration value="CREDITCARD"/>
                <xs:enumeration value="PREPAID"/>
                <xs:enumeration value="account"/>
                <xs:enumeration value="creditcard"/>
                <xs:enumeration value="prepaid"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="accountNumber" type="xs:string"/>
    <xs:element name="cardNumber" type="xs:string"/>
    <xs:element name="referenceNumber" type="xs:string"/>
    <xs:element name="payment">
        <xs:complexType>
            <xs:all>
                <xs:element ref="paymentMethod" minOccurs="0"/>
                <xs:element ref="accountNumber" minOccurs="0"/>
                <xs:element ref="cardNumber" minOccurs="0"/>
                <xs:element ref="referenceNumber" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="presenterAccountNumber" type="xs:string"/>
    <xs:element name="presenterEmailOut" type="xs:string"/>
    <xs:element name="presenterEmailIn" type="xs:string"/>
    <xs:element name="presenterName" type="xs:string"/>
    <xs:element name="presenterContactName" type="xs:string"/>
    <xs:element name="presenterAddressLine1" type="xs:string"/>
    <xs:element name="presenterAddressLine2" type="xs:string"/>
    <xs:element name="presenterAddressPostTown" type="xs:string"/>
    <xs:element name="presenterAddressCounty" type="xs:string"/>
    <xs:element name="presenterAddressPostCode" type="xs:string"/>
    <xs:element name="presenterAddressCountry" type="xs:string"/>
    <xs:element name="presenterDetails">
        <xs:complexType>
            <xs:all>
                <xs:element ref="presenterName" minOccurs="0"/>
                <xs:element ref="presenterAccountNumber" minOccurs="0"/>
                <xs:element ref="presenterEmailIn" minOccurs="0"/>
                <xs:element ref="presenterEmailOut" minOccurs="0"/>
                <xs:element ref="presenterAddressLine1" minOccurs="0"/>
                <xs:element ref="presenterAddressLine2" minOccurs="0"/>
                <xs:element ref="presenterAddressPostTown" minOccurs="0"/>
                <xs:element ref="presenterAddressCounty" minOccurs="0"/>
                <xs:element ref="presenterAddressCountry" minOccurs="0"/>
                <xs:element ref="presenterAddressPostCode" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation>elements for addresses.</xs:documentation>
    </xs:annotation>
    <xs:element name="careOf">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="careOfCompany">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="100"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="poBox">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="10"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="houseNameNum">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="street">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="area">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="postTown">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="region">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="country">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="50"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="postCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:minLength value="0"/>
                <xs:maxLength value="15"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="address">
        <xs:complexType>
            <xs:all>
                <xs:element ref="careOf" minOccurs="0"/>
                <xs:element ref="poBox" minOccurs="0"/>
                <xs:element ref="careOfCompany" minOccurs="0"/>
                <xs:element ref="houseNameNum" minOccurs="0"/>
                <xs:element ref="street" minOccurs="0"/>
                <xs:element ref="area" minOccurs="0"/>
                <xs:element ref="postTown" minOccurs="0"/>
                <xs:element ref="region" minOccurs="0"/>
                <xs:element ref="country" minOccurs="0"/>
                <xs:element ref="postCode" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="dxNumber" type="xs:string"/>
    <xs:element name="dxExchange" type="xs:string"/>
    <xs:element name="contactName" type="xs:string"/>
    <xs:element name="phoneNumber" type="xs:string"/>
    <xs:element name="email" type="xs:string"/>
    <xs:element name="contactDetails">
        <xs:complexType>
            <xs:all>
                <xs:element ref="contactName" minOccurs="0"/>
                <xs:element ref="email" minOccurs="0"/>
                <xs:element ref="address" minOccurs="0"/>
                <xs:element ref="phoneNumber" minOccurs="0"/>
                <xs:element ref="dxNumber" minOccurs="0"/>
                <xs:element ref="dxExchange" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="corporateBodyType">
        <xs:choice/>
    </xs:complexType>

    <xs:element name="general">
        <xs:complexType>
            <xs:all>
                <xs:element name="effectiveDate" type="xs:string" minOccurs="0"/>
                <xs:element name="resolutionDate" type="xs:string" minOccurs="0"/>
                <xs:element name="fromDate" type="xs:string" minOccurs="0"/>
                <xs:element name="sameDay" type="xs:boolean" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:annotation>
        <xs:documentation>elements for officers</xs:documentation>
    </xs:annotation>
    <xs:element name="officers">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="officer" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="titleOther" type="xs:string"/>
    <xs:element name="forename" type="xs:string"/>
    <xs:element name="middlenames" type="xs:string"/>
    <xs:element name="surname" type="xs:string"/>
    <xs:element name="personName">
        <xs:complexType>
            <xs:all>
                <xs:element ref="titleOther" minOccurs="0"/>
                <xs:element ref="forename" minOccurs="0"/>
                <xs:element ref="middlenames" minOccurs="0"/>
                <xs:element ref="surname" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="birthDate" type="xs:date"/>
    <xs:element name="signDate" type="xs:date"/>

    <xs:element name="officer">
        <xs:complexType>
            <xs:all>
                <xs:element ref="personName" minOccurs="0"/>
                <xs:element ref="birthDate" minOccurs="0"/>
                <xs:element ref="signDate" minOccurs="0"/>
                <xs:element ref="actionDate" minOccurs="0"/>
                <xs:element ref="corporateOfficer" minOccurs="0"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
    <xs:element name="attachments">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="attachment">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="data" type="xs:string"/>
                            <xs:element name="mimeType" type="xs:string"/>
                            <xs:element name="category" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="currencyCode">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="GBP"/>
                <xs:enumeration value="EUR"/>
                <xs:enumeration value="USD"/>
                <xs:enumeration value="JPY"/>
                <xs:enumeration value="CHF"/>
                <xs:enumeration value="CAD"/>
                <xs:enumeration value="AUD"/>
                <xs:enumeration value="NZD"/>
                <xs:enumeration value="RUB"/>
                <xs:enumeration value="HKD"/>
                <xs:enumeration value="SGD"/>
                <xs:enumeration value="AED"/>
                <xs:enumeration value="AFN"/>
                <xs:enumeration value="ALL"/>
                <xs:enumeration value="AMD"/>
                <xs:enumeration value="ANG"/>
                <xs:enumeration value="AOA"/>
                <xs:enumeration value="AON"/>
                <xs:enumeration value="ARS"/>
                <xs:enumeration value="AWG"/>
                <xs:enumeration value="AZN"/>
                <xs:enumeration value="BAM"/>
                <xs:enumeration value="BBD"/>
                <xs:enumeration value="BDT"/>
                <xs:enumeration value="BEF"/>
                <xs:enumeration value="BGN"/>
                <xs:enumeration value="BHD"/>
                <xs:enumeration value="BIF"/>
                <xs:enumeration value="BMD"/>
                <xs:enumeration value="BND"/>
                <xs:enumeration value="BOV"/>
                <xs:enumeration value="BOB"/>
                <xs:enumeration value="BRL"/>
                <xs:enumeration value="BSD"/>
                <xs:enumeration value="BTN"/>
                <xs:enumeration value="BWP"/>
                <xs:enumeration value="BYB"/>
                <xs:enumeration value="BZD"/>
                <xs:enumeration value="CDF"/>
                <xs:enumeration value="CHE"/>
                <xs:enumeration value="CHW"/>
                <xs:enumeration value="CLF"/>
                <xs:enumeration value="CLP"/>
                <xs:enumeration value="CNY"/>
                <xs:enumeration value="COP"/>
                <xs:enumeration value="COU"/>
                <xs:enumeration value="CRC"/>
                <xs:enumeration value="CSD"/>
                <xs:enumeration value="CUP"/>
                <xs:enumeration value="CVE"/>
                <xs:enumeration value="CYP"/>
                <xs:enumeration value="CZK"/>
                <xs:enumeration value="DJF"/>
                <xs:enumeration value="DKK"/>
                <xs:enumeration value="DOP"/>
                <xs:enumeration value="DZD"/>
                <xs:enumeration value="EEK"/>
                <xs:enumeration value="EGP"/>
                <xs:enumeration value="ERN"/>
                <xs:enumeration value="ETB"/>
                <xs:enumeration value="FJD"/>
                <xs:enumeration value="FKP"/>
                <xs:enumeration value="GEL"/>
                <xs:enumeration value="GHS"/>
                <xs:enumeration value="GIP"/>
                <xs:enumeration value="GMD"/>
                <xs:enumeration value="GNF"/>
                <xs:enumeration value="GTQ"/>
                <xs:enumeration value="GWP"/>
                <xs:enumeration value="GYD"/>
                <xs:enumeration value="HNL"/>
                <xs:enumeration value="HRK"/>
                <xs:enumeration value="HTG"/>
                <xs:enumeration value="HUF"/>
                <xs:enumeration value="IDR"/>
                <xs:enumeration value="ILS"/>
                <xs:enumeration value="INR"/>
                <xs:enumeration value="IQD"/>
                <xs:enumeration value="IRR"/>
                <xs:enumeration value="ISK"/>
                <xs:enumeration value="JMD"/>
                <xs:enumeration value="JOD"/>
                <xs:enumeration value="KES"/>
                <xs:enumeration value="KGS"/>
                <xs:enumeration value="KHR"/>
                <xs:enumeration value="KMF"/>
                <xs:enumeration value="KPW"/>
                <xs:enumeration value="KRW"/>
                <xs:enumeration value="KWD"/>
                <xs:enumeration value="KYD"/>
                <xs:enumeration value="KZT"/>
                <xs:enumeration value="LAK"/>
                <xs:enumeration value="LBP"/>
                <xs:enumeration value="LKR"/>
                <xs:enumeration value="LRD"/>
                <xs:enumeration value="LSL"/>
                <xs:enumeration value="LTL"/>
                <xs:enumeration value="LVL"/>
                <xs:enumeration value="LYD"/>
                <xs:enumeration value="MAD"/>
                <xs:enumeration value="MDL"/>
                <xs:enumeration value="MGA"/>
                <xs:enumeration value="MKD"/>
                <xs:enumeration value="MMK"/>
                <xs:enumeration value="MNT"/>
                <xs:enumeration value="MOP"/>
                <xs:enumeration value="MRO"/>
                <xs:enumeration value="MTL"/>
                <xs:enumeration value="MUR"/>
                <xs:enumeration value="MVR"/>
                <xs:enumeration value="MWK"/>
                <xs:enumeration value="MXN"/>
                <xs:enumeration value="MXV"/>
                <xs:enumeration value="MYR"/>
                <xs:enumeration value="MZM"/>
                <xs:enumeration value="NAD"/>
                <xs:enumeration value="NGN"/>
                <xs:enumeration value="NIO"/>
                <xs:enumeration value="NOK"/>
                <xs:enumeration value="NPR"/>
                <xs:enumeration value="OMR"/>
                <xs:enumeration value="PAB"/>
                <xs:enumeration value="PEN"/>
                <xs:enumeration value="PGK"/>
                <xs:enumeration value="PHP"/>
                <xs:enumeration value="PKR"/>
                <xs:enumeration value="PLN"/>
                <xs:enumeration value="PYG"/>
                <xs:enumeration value="QAR"/>
                <xs:enumeration value="RON"/>
                <xs:enumeration value="RWF"/>
                <xs:enumeration value="SAR"/>
                <xs:enumeration value="SBD"/>
                <xs:enumeration value="SCR"/>
                <xs:enumeration value="SDD"/>
                <xs:enumeration value="SEK"/>
                <xs:enumeration value="SHP"/>
                <xs:enumeration value="SIT"/>
                <xs:enumeration value="SKK"/>
                <xs:enumeration value="SLL"/>
                <xs:enumeration value="SOS"/>
                <xs:enumeration value="SRD"/>
                <xs:enumeration value="STD"/>
                <xs:enumeration value="SVC"/>
                <xs:enumeration value="SYP"/>
                <xs:enumeration value="SZL"/>
                <xs:enumeration value="THB"/>
                <xs:enumeration value="TJS"/>
                <xs:enumeration value="TMM"/>
                <xs:enumeration value="TND"/>
                <xs:enumeration value="TOP"/>
                <xs:enumeration value="TRY"/>
                <xs:enumeration value="TTD"/>
                <xs:enumeration value="TWD"/>
                <xs:enumeration value="TZS"/>
                <xs:enumeration value="UAH"/>
                <xs:enumeration value="UGX"/>
                <xs:enumeration value="UYU"/>
                <xs:enumeration value="UZS"/>
                <xs:enumeration value="VEB"/>
                <xs:enumeration value="VND"/>
                <xs:enumeration value="VUV"/>
                <xs:enumeration value="WST"/>
                <xs:enumeration value="XAF"/>
                <xs:enumeration value="XCD"/>
                <xs:enumeration value="XDR"/>
                <xs:enumeration value="XOF"/>
                <xs:enumeration value="XPF"/>
                <xs:enumeration value="YER"/>
                <xs:enumeration value="ZAR"/>
                <xs:enumeration value="ZMK"/>
                <xs:enumeration value="ZWD"/>
                <xs:enumeration value="UKH"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="actionDate" type="xs:date" />
    <xs:element name="corporateOfficer" type="xs:boolean"/>

</xs:schema>