src/main/resources/schemas/SH10.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
	<xs:annotation>
		<xs:documentation>For type=SH08, type id=5575, template id=5500</xs:documentation>
	</xs:annotation>
	
	<xs:redefine schemaLocation="CORE.xsd">
		<xs:complexType name="corporateBodyType">
			<xs:complexContent>
				<xs:extension base="corporateBodyType">
					<xs:sequence>
						<xs:element ref="detailsOfVariationOfRights" minOccurs="1" />
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:redefine>

	<xs:element name="detailsOfVariationOfRights" type="xs:string" />
	
	<xs:element name="form" type="coreForm" />

</xs:schema>